.nav-mobile {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    height: 70px;
    width: 70px;
    z-index: 999;
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 35px;
    background: #fff;
    position: absolute;
    display: block;
    content: " ";
    transition: all 300ms ease-in-out;
}

#nav-toggle span {
    width: 25px;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 10;
    background-color: #262934;
    width: 100%;
    height: 0;
    text-align: center;
    color: white;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: opacity .35s, visibility .35s, height .35s;
}

nav.active {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

nav.active ul li {
    display: block;
    position: relative;
    opacity: 0;
    animation: fadeInRight .5s ease forwards;
    animation-delay: .35s;
}

nav ul li {
    list-style: none;
    padding: 10px;
}

nav ul li a {
    color: #ddd;
    font-family: 'Fjalla One', sans-serif;
    font-size: 5rem;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    text-decoration: none;
    line-height: 1;
}

nav ul li a:hover {
    color: #ddd;
    text-decoration: none;
}

nav ul li a:after {
    display: block;
    content: '';
    height: 4px;
    background: #1488cc;
    background: -webkit-linear-gradient(to right, #1488cc, #2b32b2);
    background: linear-gradient(to right, #1488cc, #2b32b2);
    transform: scaleX(0.0001);
    transition: transform 250ms ease-in-out;
}

nav ul li a:hover:after {
    transform: scaleX(1);
}

nav.active ul li:nth-of-type(2) {
    animation-delay: .4s;
}

nav.active ul li:nth-of-type(3) {
    animation-delay: .45s;
}

nav.active ul li:nth-of-type(4) {
    animation-delay: .50s;
}

nav.active ul li:nth-of-type(5) {
    animation-delay: .55s;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

nav #social-list {
    margin: 0 auto;
}

nav.active #social-list li {
    float: left;
}

nav #social-list li a {
    font-size: 1.5rem;
}

nav #social-list li a:after {
    background: none;
}

nav #social-list li .fab:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#1488cc), to(#2b32b2));
    background-clip: text;
    animation: moving 10s ease;
    animation-iteration-count: 1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: moving 10s ease;
    -webkit-animation-iteration-count: 1;
}